# 1.Imports

In [22]:
import pandas as pd
import pickle
import numpy as np
from sklearn import metrics as mt
from sklearn.cluster import KMeans

# 2. Funcao para carregar os datasets

In [2]:
def Load_Data_Set(df):
    df1 = pd.read_csv(df)
    return df1

# 3. Criando os dataframe

In [3]:
df = "../3_ensaio_clusterizacao/dados_agrupamento/X_dataset.csv"

In [4]:
df1 = Load_Data_Set(df)

In [5]:
df = df1.copy()

In [6]:
display(df)

,alcohol,malic_acid,ash,ash_alcanity,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280,proline
0,1.518613,0.191700,0.232053,-1.169593,1.913905,0.627586,0.573840,-0.659563,1.224884,0.251717,0.455285,0.970696,0.561341
1,0.246290,0.205534,-0.827996,-2.490847,0.018145,0.575862,0.510549,-0.820719,-0.544721,-0.293321,0.463415,0.780220,0.550642
2,0.196879,0.320158,1.109334,-0.268738,0.088358,0.627586,0.611814,-0.498407,2.135968,0.269020,0.447154,0.695971,0.646933
3,1.691550,0.239130,0.487926,-0.809251,0.930918,0.989655,0.664557,-0.981875,1.032155,1.186068,0.308943,0.798535,0.857347
4,0.295700,0.365613,1.840403,0.451946,1.281985,0.627586,0.495781,0.226796,0.401404,-0.319276,0.455285,0.608059,0.325963
...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,0.876275,0.970356,0.305159,0.301803,-0.332922,0.241379,0.056962,1.274310,-0.930179,1.142811,0.130081,0.172161,0.329529
174,0.493343,0.626482,0.414820,1.052516,0.158572,0.282759,0.086498,0.549108,-0.316950,0.969783,0.178862,0.106227,0.336662
175,0.332758,0.699605,-0.389355,0.151661,1.422412,0.210345,0.073840,0.549108,-0.422075,2.224236,0.089431,0.106227,0.397290
176,0.209232,0.365613,0.012732,0.151661,1.422412,0.231034,0.071730,1.354888,-0.229346,1.834923,0.097561,0.128205,0.400856
177,1.395086,0.664032,1.365208,1.502943,-0.262708,0.368966,0.088608,1.596623,-0.422075,1.791666,0.105691,0.120879,0.201141

# 4. Função para treinar o modelo e avaliar as métricas dele

In [7]:
#Função para Treinar o Modelo encima dos dados disponiveis e auferir as métricas

#Entrada: dataframe, parametro n_clusters

#Saida: dataframe que contém o n-clusters e a metrica obtida no treinamento

def Model_Training(df, n_clusters): 
    
    features = ['alcohol', 'malic_acid', 'ash', 'ash_alcanity', 'magnesium',
       'total_phenols', 'flavanoids', 'nonflavanoid_phenols',
       'proanthocyanins', 'color_intensity', 'hue', 'od280', 'proline']
    
       
    #Preparação dos dados de treino
    X = df.loc[:, features]     
    
    #Treinamento do algoritmo K-Means voltado para clusterizacao 
    
    #No caso desse algoritmo precisamos ajustar o parametro n_clusters a fim de encontrar o parametro que resultara
    #em uma métrica mais elevada
    
    
    random_state = 0
    k_means = KMeans(n_clusters = n_clusters,  init='random', n_init=10, random_state=random_state)
    
    #Fazendo previsoes
    labels = k_means.fit_predict(X)
    

    #Performance do Algoritmo
    ss_avg = np.round(mt.silhouette_score(X, labels),4)
    
    #Montando um df com a metrica         
    d = { 'Values': [n_clusters,ss_avg]}
    
    df_metrics =  pd.DataFrame(data = d, index = ['n_clusters', 'silhouette_score'])
    
    return df_metrics

# 5.Treinamento do modelo com diferentes parametros n_clusters e verificação das metricas obtidas

### 5.1 Parametro n_clusters por default - n_clusters = 8

In [8]:
df_default = Model_Training(df, 8)
df_default

                  Values
n_clusters        8.0000
silhouette_score  0.1866

### 5.2 n_clusters = 11

In [9]:
df_clusters_11 = Model_Training(df,11)
df_clusters_11

                   Values
n_clusters        11.0000
silhouette_score   0.1898

### 5.3 n_clusters = 4

In [10]:
df_clusters_4 = Model_Training(df,4)
df_clusters_4

                  Values
n_clusters        4.0000
silhouette_score  0.2073

### 5.4 n_clusters = 2

In [11]:
df_clusters_2 = Model_Training(df,2)
df_clusters_2

                  Values
n_clusters        2.0000
silhouette_score  0.2132

### 5.5 n_clusters3

In [12]:
df_clusters3 = Model_Training(df,3)
df_clusters3

                  Values
n_clusters         3.000
silhouette_score   0.233

### 5.6 n_clusters = 5

In [13]:
df_clusters5 = Model_Training(df,5)
df_clusters5

                  Values
n_clusters        5.0000
silhouette_score  0.1881

### 5.7 n_clusters = 6

In [14]:
df_clusters6 = Model_Training(df,6)
df_clusters6

                  Values
n_clusters        6.0000
silhouette_score  0.1995

### 5.8 n_clusters = 7

In [15]:
df_clusters7 = Model_Training(df,7)
df_clusters7

                  Values
n_clusters         7.000
silhouette_score   0.211

### 5.9 n_clusters = 20

In [16]:
df_clusters20 = Model_Training(df,20)
df_clusters20

                   Values
n_clusters        20.0000
silhouette_score   0.1518

# 6. Concatenando os dataframes

In [17]:
df_final = pd.concat([df_clusters_2, df_clusters3, df_clusters_4, df_clusters5,
                           df_clusters6, df_clusters7, df_default, df_clusters_11, df_clusters20], axis = 1)
df_final

,Values,Values,Values,Values,Values,Values,Values,Values,Values
n_clusters,2.0000,3.000,4.0000,5.0000,6.0000,7.000,8.0000,11.0000,20.0000
silhouette_score,0.2132,0.233,0.2073,0.1881,0.1995,0.211,0.1866,0.1898,0.1518

# 7. Salvando o dataframe que contém o algoritmo treinado com a melhor performance

In [19]:
df_clusters7 = df_clusters7.rename(columns ={"Values": "K-Means"})
df_clusters7

                  K-Means
n_clusters          7.000
silhouette_score    0.211

In [23]:
with open('arquivo_k_means.pkl', 'wb') as arquivo_k_means:
    pickle.dump(df_clusters7,arquivo_k_means)

In [24]:
arquivo_k_means.close()