# 1. Imports

In [1]:
import pandas as pd
import pickle

# 2. Carregando os datasets dos algoritmos

In [2]:
def Load_Dataset(file):
    file = file
    with open (file, 'rb') as arq: 
        df = pickle.load(arq)
    return df

### 2.1 Linear Regression

In [3]:
df_linear_regression_train = Load_Dataset('arquivo_linear_regression_train.pkl')
df_linear_regression_train

          Linear Regression
r2_score             0.0461
mse                455.9961
rmse                21.0000
mae                 16.9982
mape                 8.6532

In [4]:
df_linear_regression_val = Load_Dataset('arquivo_linear_regression_val.pkl')
df_linear_regression_val

          Linear Regression
r2_score             0.0523
mse                461.4277
rmse                21.0000
mae                 17.1300
mape                 8.5219

In [5]:
df_linear_regression_test = Load_Dataset('arquivo_linear_regression_test.pkl')
df_linear_regression_test

          Linear Regression
r2_score             0.0399
mse                458.4470
rmse                21.0000
mae                 17.0398
mape                 8.6825

### 2.2 Linear Regression Lasso

In [6]:
df_lasso_train = Load_Dataset('arquivo_lasso_train.pkl')
df_lasso_train

          Linear Regression Lasso
r2_score                   0.0074
mse                      474.4748
rmse                      22.0000
mae                       17.3055
mape                       8.7367

In [7]:
df_lasso_val = Load_Dataset('arquivo_lasso_val.pkl')
df_lasso_val

          Linear Regression Lasso
r2_score                   0.0296
mse                      463.3853
rmse                      22.0000
mae                       17.0933
mape                       8.6773

In [8]:
df_lasso_test = Load_Dataset('arquivo_lasso_test.pkl')
df_lasso_test

          Linear Regression Lasso
r2_score                   0.0332
mse                      470.7580
rmse                      22.0000
mae                       17.2587
mape                       8.6533

### 2.3 Linear Regression Ridge

In [9]:
df_ridge_train = Load_Dataset('arquivo_ridge_train.pkl')
df_ridge_train

          Linear Regression Ridge
r2_score                   0.0461
mse                      456.0000
rmse                      21.0000
mae                       17.0000
mape                       8.6500

In [10]:
df_ridge_val = Load_Dataset('arquivo_ridge_val.pkl')
df_ridge_val

          Linear Regression Ridge
r2_score                   0.0399
mse                      458.4500
rmse                      21.0000
mae                       17.0400
mape                       8.6800

In [11]:
df_ridge_test = Load_Dataset('arquivo_ridge_test.pkl')
df_ridge_test

          Linear Regression Ridge
r2_score                   0.0512
mse                      461.9900
rmse                      21.0000
mae                       17.1400
mape                       8.5300

### 2.4 Linear Regression Elastic Net

In [12]:
df_elastic_net_train = Load_Dataset('arquivo_elastic_net_train.pkl')
df_elastic_net_train

          Linear Regression Elastic Net
r2_score                         0.0078
mse                            474.2700
rmse                            22.0000
mae                             17.3000
mape                             8.7300

In [13]:
df_elastic_net_test = Load_Dataset('arquivo_elastic_net_test.pkl')
df_elastic_net_test

          Linear Regression Elastic Net
r2_score                         0.0511
mse                            462.0300
rmse                            21.0000
mae                             17.1400
mape                             8.5400

In [14]:
df_elastic_net_val = Load_Dataset('arquivo_elastic_net_val.pkl')
df_elastic_net_val

          Linear Regression Elastic Net
r2_score                         0.0399
mse                            458.4400
rmse                            21.0000
mae                             17.0400
mape                             8.6800

### 2.5 Polinomial Regression

In [15]:
df_poly_regression_train = Load_Dataset('arquivo_poly_regression_train.pkl')
df_poly_regression_train

          Polinomial Regression
r2_score                 0.0942
mse                    432.9862
rmse                    20.8083
mae                     16.4580
mape                     8.3505

In [16]:
df_poly_regression_test = Load_Dataset('arquivo_poly_regression_test.pkl')
df_poly_regression_test

          Polinomial Regression
r2_score                 0.0909
mse                    442.6414
rmse                    21.0390
mae                     16.7364
mape                     8.2770

In [17]:
df_poly_regression_val = Load_Dataset('arquivo_poly_regression_val.pkl')
df_poly_regression_val

          Polinomial Regression
r2_score                 0.0665
mse                    445.7682
rmse                    21.1132
mae                     16.7499
mape                     8.5479

### 2.6 Polinomial Regression Lasso

In [18]:
df_poly_regression_lasso_train = Load_Dataset('arquivo_poly_regression_lasso_train.pkl')
df_poly_regression_lasso_train

          Polinomial Regression Lasso
r2_score                       0.0091
mse                          473.6388
rmse                          21.7632
mae                           17.2854
mape                           8.6997

In [19]:
df_poly_regression_lasso_test = Load_Dataset('arquivo_poly_regression_lasso_test.pkl')
df_poly_regression_lasso_test

          Polinomial Regression Lasso
r2_score                       0.0854
mse                          445.3322
rmse                          21.1029
mae                           16.7857
mape                           8.3421

In [20]:
df_poly_regression_lasso_val = Load_Dataset('arquivo_poly_regression_lasso_val.pkl')
df_poly_regression_lasso_val

          Polinomial Regression Lasso
r2_score                       0.0685
mse                          444.8150
rmse                          21.0906
mae                           16.7324
mape                           8.5910

### 2.7 Polinomial Regression Ridge

In [21]:
df_poly_regression_ridge_train = Load_Dataset('arquivo_poly_regression_ridge_train.pkl')
df_poly_regression_ridge_train

          Polinomial Regression Ridge
r2_score                       0.0932
mse                          433.4755
rmse                          20.8201
mae                           16.4720
mape                           8.3727

In [22]:
df_poly_regression_ridge_test = Load_Dataset('arquivo_poly_regression_ridge_test.pkl')
df_poly_regression_ridge_test

          Polinomial Regression Ridge
r2_score                       0.0906
mse                          442.7649
rmse                          21.0420
mae                           16.7377
mape                           8.2971

In [23]:
df_poly_regression_ridge_val = Load_Dataset('arquivo_poly_regression_ridge_val.pkl')
df_poly_regression_ridge_val

          Polinomial Regression Ridge
r2_score                       0.0677
mse                          445.2026
rmse                          21.0998
mae                           16.7382
mape                           8.5638

### 2.8 Polinomial Regression Elastic Net

In [24]:
df_poly_regression_elastic_net_train = Load_Dataset('arquivo_poly_regression_elastic_net_train.pkl')
df_poly_regression_elastic_net_train

          Polinomial Regression Elastic Net
r2_score                             0.0128
mse                                471.8783
rmse                                21.7228
mae                                 17.2442
mape                                 8.6788

In [25]:
df_poly_regression_elastic_net_test = Load_Dataset('arquivo_poly_regression_elastic_net_teste.pkl')
df_poly_regression_elastic_net_test

          Polinomial Regression Elastic Net
r2_score                             0.0447
mse                                465.1317
rmse                                21.5669
mae                                 17.1160
mape                                 8.6281

In [26]:
df_poly_regression_elastic_net_val = Load_Dataset('arquivo_poly_regression_elastic_net_val.pkl')
df_poly_regression_elastic_net_val

          Polinomial Regression Elastic Net
r2_score                             0.0428
mse                                457.0769
rmse                                21.3794
mae                                 16.9356
mape                                 8.6452

### 2.9 Decision Tree Regressor

In [27]:
df_decision_tree_regressor_train = Load_Dataset('arquivo_decision_tree_regressor_train.pkl')
df_decision_tree_regressor_train

          Decision Tree Regressor
r2_score                   0.9918
mse                        3.9404
rmse                       1.9850
mae                        0.2141
mape                       0.0826

In [28]:
df_decision_tree_regressor_test = Load_Dataset('arquivo_decision_tree_regressor_teste.pkl')
df_decision_tree_regressor_test

          Decision Tree Regressor
r2_score                   0.0905
mse                      442.8484
rmse                      21.0440
mae                       16.8298
mape                       7.8832

In [40]:
df_decision_tree_regressor_val = Load_Dataset('arquivo_decision_tree_regressor_val.pkl')
df_decision_tree_regressor_val

          Decision Tree Regressor
r2_score                   0.0636
mse                      447.1613
rmse                      21.1462
mae                       16.8435
mape                       8.3958

### 2.10 Random Forest Regressor

In [41]:
df_rf_regressor_train = Load_Dataset('arquivo_rf_regressor_train.pkl')
df_rf_regressor_train

          Random Forest Regressor
r2_score                   0.9026
mse                       46.5433
rmse                       6.8223
mae                        4.8807
mape                       2.6075

In [43]:
df_rf_regressor_test = Load_Dataset('arquivo_rf_regressor_teste.pkl')
df_rf_regressor_test

          Random Forest Regressor
r2_score                   0.4024
mse                      290.9508
rmse                      17.0573
mae                       12.2606
mape                       6.3657

In [44]:
df_rf_regressor_val = Load_Dataset('arquivo_rf_regressor_val.pkl')
df_rf_regressor_val

          Random Forest Regressor
r2_score                   0.3351
mse                      317.4923
rmse                      17.8183
mae                       13.0087
mape                       7.0751

# 3. Concatenando os dataframes

### 3.1 Datasets de treinamento

In [45]:
df_train = pd.concat([df_linear_regression_train, df_lasso_train, df_ridge_train,df_elastic_net_train,
                      df_poly_regression_train, df_poly_regression_lasso_train, df_poly_regression_ridge_train,
                     df_poly_regression_elastic_net_train, df_decision_tree_regressor_train,
                     df_rf_regressor_train], axis = 1)

In [46]:
df_train

,Linear Regression,Linear Regression Lasso,Linear Regression Ridge,Linear Regression Elastic Net,Polinomial Regression,Polinomial Regression Lasso,Polinomial Regression Ridge,Polinomial Regression Elastic Net,Decision Tree Regressor,Random Forest Regressor
r2_score,0.0461,0.0074,0.0461,0.0078,0.0942,0.0091,0.0932,0.0128,0.9918,0.9026
mse,455.9961,474.4748,456.0000,474.2700,432.9862,473.6388,433.4755,471.8783,3.9404,46.5433
rmse,21.0000,22.0000,21.0000,22.0000,20.8083,21.7632,20.8201,21.7228,1.9850,6.8223
mae,16.9982,17.3055,17.0000,17.3000,16.4580,17.2854,16.4720,17.2442,0.2141,4.8807
mape,8.6532,8.7367,8.6500,8.7300,8.3505,8.6997,8.3727,8.6788,0.0826,2.6075

### 3.2 Datasets de validao

In [47]:
df_val = pd.concat([df_linear_regression_val, df_lasso_val, df_ridge_val,df_elastic_net_val,
                      df_poly_regression_val, df_poly_regression_lasso_val, df_poly_regression_ridge_val,
                   df_poly_regression_elastic_net_val, df_decision_tree_regressor_val,
                    df_rf_regressor_val], axis = 1)

In [48]:
df_val

,Linear Regression,Linear Regression Lasso,Linear Regression Ridge,Linear Regression Elastic Net,Polinomial Regression,Polinomial Regression Lasso,Polinomial Regression Ridge,Polinomial Regression Elastic Net,Decision Tree Regressor,Random Forest Regressor
r2_score,0.0523,0.0296,0.0399,0.0399,0.0665,0.0685,0.0677,0.0428,0.0636,0.3351
mse,461.4277,463.3853,458.4500,458.4400,445.7682,444.8150,445.2026,457.0769,447.1613,317.4923
rmse,21.0000,22.0000,21.0000,21.0000,21.1132,21.0906,21.0998,21.3794,21.1462,17.8183
mae,17.1300,17.0933,17.0400,17.0400,16.7499,16.7324,16.7382,16.9356,16.8435,13.0087
mape,8.5219,8.6773,8.6800,8.6800,8.5479,8.5910,8.5638,8.6452,8.3958,7.0751

### 3.3 Datasets de teste

In [49]:
df_test = pd.concat([df_linear_regression_test, df_lasso_test, df_ridge_test,df_elastic_net_test,
                      df_poly_regression_test, df_poly_regression_lasso_test, df_poly_regression_ridge_test,
                    df_poly_regression_elastic_net_test, df_decision_tree_regressor_test,
                    df_rf_regressor_test], axis = 1)

In [50]:
df_test

,Linear Regression,Linear Regression Lasso,Linear Regression Ridge,Linear Regression Elastic Net,Polinomial Regression,Polinomial Regression Lasso,Polinomial Regression Ridge,Polinomial Regression Elastic Net,Decision Tree Regressor,Random Forest Regressor
r2_score,0.0399,0.0332,0.0512,0.0511,0.0909,0.0854,0.0906,0.0447,0.0905,0.4024
mse,458.4470,470.7580,461.9900,462.0300,442.6414,445.3322,442.7649,465.1317,442.8484,290.9508
rmse,21.0000,22.0000,21.0000,21.0000,21.0390,21.1029,21.0420,21.5669,21.0440,17.0573
mae,17.0398,17.2587,17.1400,17.1400,16.7364,16.7857,16.7377,17.1160,16.8298,12.2606
mape,8.6825,8.6533,8.5300,8.5400,8.2770,8.3421,8.2971,8.6281,7.8832,6.3657